<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>

<h2>Chat</h2>

<div id="chatBox">
    <div th:each="m : ${messages}">
        <p><b th:text="${m.sender.name}"></b> : <span th:text="${m.message}"></span></p>
    </div>
</div>

<hr>

<input type="hidden" id="meId" th:value="${meId}">
<input type="hidden" id="otherId" th:value="${otherId}">

<input type="text" id="msgInput">
<button onclick="sendMessage()">Send</button>

<script>
    let socket = new SockJS('/ws');
    let stompClient = Stomp.over(socket);

    let meId = document.getElementById("meId").value;

    stompClient.connect({}, function () {
		stompClient.subscribe("/user/queue/messages", function (message) {
            let msg = JSON.parse(message.body);
            showMessage(msg);
        });
    });

	function sendMessage() {
	    let msg = {
	        senderId: document.getElementById("meId").value,
	        receiverId: document.getElementById("otherId").value,
	        message: document.getElementById("msgInput").value
	    };

	    stompClient.send("/app/chat.send", {}, JSON.stringify(msg));
	    document.getElementById("msgInput").value = "";
	}


	function showMessage(msg) {
	    let p = document.createElement("p");

	    if (msg.senderId == meId) {
	        p.innerHTML = "<b>You:</b> " + msg.message;
	    } else {
	        p.innerHTML = "<b>Other:</b> " + msg.message;
	    }

	    document.getElementById("chatBox").appendChild(p);
	}

</script>

</body>
</html>
