<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>

<form th:action="@{/register}" th:object="${user}" method="post">

    <input type="text" th:field="*{name}" placeholder="Name" required><br><br>

    <input type="email" th:field="*{email}" placeholder="Email" required><br><br>

    <input type="text" th:field="*{phone}" placeholder="Phone" required><br><br>

    <input type="password" th:field="*{password}" placeholder="Password" required><br><br>

    <select name="roleName" required>
        <option value="">Select Role</option>
        <option value="SEEKER">Seeker</option>
        <option value="OWNER">Owner</option>
    </select>

    <br><br>

    <button type="submit">Register</button>

</form>

</body>
</html>
